.cart img{
    margin-top: 4vw;
}
.cart h1{
    font-size: 3vw;
    font-weight: bold;
}
.cart button {
    height: 3vw;
    width: 15vw;
    background-color: #007A3D;;
    border: none;
    font-weight: bold;
    font-size: 1.1vw;
    color: white;
    margin-top: 2vw;
}